.attribution { font-size: 11px; text-align: center;
margin-top: 15px; }
.attribution a { color: hsl(228, 45%, 44%); }
/**
- Mobile: 375px
- Desktop: 1440px
## Colors
### Primary
- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%)
### Neutral
Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%)
## Typography
### Body Copy
- Font size (paragraph): 15px
### Font
- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700, 800**/

body{
    padding:10px;
    font-family: "Inter", sans-serif;
}
.sideBar{
height:100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
right: 0;
background-color: hsl(36, 100%, 99%);
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}
.sideBar a{
    padding: 8px 8px 8px 32px;
    text-decoration:none;
    font-size: 15px;
    color:hsl(240, 100%, 5%);
    display: block;
    transition: 0.3s;
    cursor: pointer;
}
.sideBar a:hover{
    color:hsl(5, 85%, 63%);
}
.sideBar .closebtn{
    position:absolute;
    top: 0;
    right:0px;
    width: 5%;
    margin:10px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.header .logo{
    width:5%;
}
.header .openBtn{
    width:5%;
    cursor: pointer;
}
.second-sec {
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: 1.5rem;
    margin-top: 10px;
    height:50%;
}
.sub-sec1{
    width:60%;
    height: 100%;
}
#sub-img{
    width: 100%;
}
.sub-sub{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
    padding: 10px;
    margin-top: 5px;
}
.sub-sub h2{
    font-weight: 800;
}
.sub-sub p{
    width: 250px;
    font-size: 12px;
    color: hsl(236, 13%, 42%);
}
#btn{
    font-size: 10px;
    background-color:hsl(5, 85%, 63%);
    color: white;
    padding: 5px;
    border: 1px solid hsl(5, 85%, 63%);
    text-transform: uppercase;
    margin-top: 5px;
    cursor: pointer;
}
#btn:hover{
    background-color:hsl(240, 100%, 5%);
    border: 1px solid hsl(240, 100%, 5%);
}
.sub-sec2{
    width:40%;
    height: 100%;
    background-color:hsl(240, 100%, 5%);
    display: flex;
    flex-direction:column;
    gap:1px;
    color:white;
    padding: 10px;
}
.sub-sec2 div{
    margin-top: -15px;
}
.sub-sec2 h2,h3:hover{
    cursor: pointer;
    color:hsl(35, 77%, 62%);
}
.sub-sec2 p{
    font-size: 12px;
    color:hsl(233, 8%, 79%) ;
}
.grid-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}

.sub-grid{
    display: flex;
    align-items: stretch;
    gap: 1rem;
}
.sub-grid img{
    height: 100%;
    width: 30%;
}
.sub-sub-grid p{
     font-size: 12px;
}
.sub-sub-grid p,
.sub-sub-grid h6,
.sub-sub-grid span {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}
.sub-sub-grid{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 5px;
}
.sub-sub-grid span,h6{
    font-weight: 800;
}
.sub-sub-grid span{
    font-size: 25px;
}
.sub-sub-grid span,p{
    color:hsl(236, 13%, 42%); ;
}


@media(max-width:780px){
    .second-sec{
        flex-direction: column;
    }
    .sub-sec1{
        width: 100%;
    }
    .sub-sub{
        flex-direction: column;
        align-items: stretch;
        gap: 5px;
        margin-top: -20px;
    }
.sub-sub p{
    margin-top: -10px;
}
    .sub-sec2{
        width: 95%;
    }
}

@media(max-width:700px){
   .grid-section{
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 0;
   }
   .sub-grid{
    align-items: stretch;
   }
   .grid-section img{
      width: 50px;
      height: 100%;
   }
  
}
@media(max-width:480px){
    .header .logo{
        width: 10%;
      }
      .header .openBtn{
        width:10%;}
}